
<div style="text-align: center">City Name:
<span>
  {{ forcastData?.city?.name }}
</span>
</div>
<div class="wrapper">
  
  <div *ngFor="let forecastData of forcastData?.list" [id] = forecastData.dt class="sub-Tile">
    <div>Temperature</div>
    <div>
      {{ forecastData?.main?.temp }}
    </div>
    <div>Sea Level</div>
    <div>
      {{ forecastData?.main?.sea_level }}
    </div>
  </div>
</div>
