.wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.sub-Tile{
    background-color: rgb(71, 123, 214);
    display: flex;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    color: white;
}