.home-wrapper{
    height: inherit;
    display:flex;
    flex-flow: row;
}
.main-wrapper{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    margin:7px;
    flex: 0 0 40%;
}
.city-tile{
    display:flex;
    flex-flow: column wrap;
    align-content: space-around;
    margin:5px;
    padding: 10px;
    border-radius: 8px;
    flex: 0 0 40%;
    color: white;
    background-color: rgb(71, 123, 214);
}
.side-wrapper{
    flex: 0 2 30%;
}
