<div class="home-wrapper">
  <div class="side-wrapper"></div>
  <div class="main-wrapper">
    <app-city class="city-tile"
      *ngFor="let currentCity of weatherData"
      [id]="currentCity.id"
      [city]="currentCity"
      (click)=navigateWithData(currentCity.name)
    ></app-city>
  </div>
  <div class="side-wrapper"></div>
</div>
