.flex-header {
    flex: 0 0 70px;
    display: flex;
    flex-flow: row wrap;
    color: white;
    background-color: rgb(71, 123, 214);
    align-items: center;
    font-size: 14px;
}

.flex-footer {
    display:flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    flex: 0 0 40px;
    color:white;
    background-color:rgb(71, 123, 214);
   
}
