<div>
  City Name:
  <span>
    {{ city?.name }}
  </span>
</div>
<div>
  Temperature:
  <span>
    {{ city?.main?.temp }}
  </span>
</div>
<div>
  Sunrise:
  <span>
    {{ city.sys.sunrise }}
  </span>
</div>
<div>
  Sunset:
  <span>
    {{ city.sys.sunset }}
  </span>
</div>
