

.logo-box{
    margin:7px;
    padding: 2px;
    color: rgb(71, 123, 214);
    background-color: white;
    height: 50px;
    width:60px;
    border-radius: 2px;
}
.logo{
    border-radius: 5px;
    height: 30px;
}