/* You can add global styles to this file, and also import other style files */
* {
    padding: 0px;
    margin: 0px;
}

body{
    background: linear-gradient(to bottom ,rgb(0, 255, 251),rgb(108, 224, 141));
    background-attachment: fixed;
    font-size: 16px;
    font-weight: 400;
}
.root{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding:0px;
   
}

